<header class="bg-sky-500 text-white p-4">
    <img src="assets/logo.jpeg" alt="logo" class="h-16 w-16 rounded-full">
    <h1 class="text-2xl font-bold ml-2">Colegio Manuela Garaicoa de Calderon</h1>
    <nav class="ml-auto">
        <ul class="flex space-x-4">
            <li><a href="#" class="hover:underline">Inicio</a></li>
            <li><a href="#" class="hover:underline">Carreras</a></li>
            <li><a href="#" class="hover:underline">INSCRIBETE YA </a></li>
            <li><a href="#" class="hover:underline">Información</a></li>
        </ul>
    </nav>
</header>
