<section class="innovacion-educativa bg-blue-200 p-8">
    <h2 class="text-3xl font-bold mb-4">Innovación y Tecnología en la Educación</h2>
    <img src="assets/garaicoa.jpeg" alt="garaicoa" class="carrera-imagen mb-2">
    <p>Descubre cómo la tecnología y las metodologías innovadoras están transformando la experiencia educativa en el siglo XXI.</p>
</section>

<section class="metodologias-ensenanza bg-white p-8">
    <div class="metodologia">
        <h2 class="text-2xl font-bold mb-2 text-center">Carreras Ofertadas</h2> 
        <div class="imagenes-carreras grid grid-cols-3 gap-4 mb-4"> 
            <div class="carrera-item">
                <img src="assets/informatica.png" alt="Informática" class="carrera-imagen mb-2">
                <p class="carrera-titulo bg-yellow-200">Informática</p> 
            </div>
            <div class="carrera-item">
                <img src="assets/contabilidad.webp" alt="Contabilidad" class="carrera-imagen mb-2">
                <p class="carrera-titulo bg-yellow-200">Contabilidad</p>
            </div>
            <div class="carrera-item">
                <img src="assets/secretaria.jpg" alt="Secretariado" class="carrera-imagen mb-2">
                <p class="carrera-titulo bg-yellow-200">Secretariado</p>
            </div>
        </div>
        <h2 class="text-2xl font-bold mb-2 text-center">Metodologías de Enseñanza Avanzadas</h2>
        <p>Conoce nuestras técnicas de enseñanza que fomentan el pensamiento crítico, la creatividad y el aprendizaje colaborativo.</p>
    </div>
</section>



<section class="noticias-educacion bg-blue-200 p-8">
    <h2 class="text-2xl font-bold mb-4">Noticias y Eventos Educativos</h2>
    <ul class="list-disc ml-8">
        <li><a href="#" class="hover:underline">Conferencia sobre Educación y Tecnología 2024</a></li>
        <li><a href="#" class="hover:underline">Taller de Métodos de Aprendizaje Innovadores</a></li>
        <li><a href="#" class="hover:underline">Resultados del Proyecto de Educación a Distancia</a></li>
    </ul>
</section>

<section class="proyectos-educativos bg-white p-8">
    <h2 class="text-2xl font-bold mb-4">Proyectos Educativos Destacados</h2>
    <ul class="list-disc ml-8">
        <li><a href="#" class="hover:underline">Iniciativa de Aprendizaje Basado en Proyectos</a></li>
        <li><a href="#" class="hover:underline">Programa de Intercambio Estudiantil Internacional</a></li>
    </ul>
    <img src="assets/proyecto-educativo.webp" alt="proyecto-educativo" class="mt-4 w-48 h-32">
</section>
